
.metadata/.lock

.metadata/.log

*.zip

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.core.index.sql.h2.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs

*.prefs

.metadata/.plugins/org.eclipse.team.cvs.core/.running

*.xmi

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js

.metadata/version.ini

.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.h2.db

.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2567408204.index

.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
